.img{
    height: 80px;
    width: 80px;
}
body{
    min-height: 100vh;
    background: url(wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    padding: 0px 0px;
   
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 18px;
    color: gray;
    font-weight: 500;
    margin-left: 25px;
}

#video{
    height: 250px;
    width: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
